<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-2 ml-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)='logout()'>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class='content container mt-5'>
  <div class='col-md-5 col-sm-7 offset-md-3 offset-sm-2'>
    <table class='table'>
      <tr>
        <td>First name</td>
        <td>{{employee.firstname}}</td>
      </tr>
      <tr>
        <td>Last name</td>
        <td>{{employee.lastname}}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{employee.username}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{employee.email}}</td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td>{{employee.mobile}}</td>
      </tr>
      <tr>
        <td>Designation</td>
        <td>{{profile.designation}}</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>{{profile.experience}}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{profile.location}}</td>
      </tr>
      <div *ngFor="let skillDetails of profile.skillDetailsList">
        <tr>
          <td>Skill Name</td>
          <td>{{skillDetails.skill.skillName}}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{skillDetails.version}}</td>
        </tr>
        <tr>
          <td>Experience in using</td>
          <td>{{skillDetails.skillExperience}}</td>
        </tr>
        <tr>
          <td>Knowledge Level</td>
          <td>{{skillDetails.knowledgeLevel}}</td>
        </tr>
      </div>
      <tr>
        <td colspan='2'>
          <button [routerLink]="['/edit-profile']" routerLinkActive="router-link-active"  class='btn btn-block btn-primary'> Edit Profile </button>
        </td>
      </tr>
    </table>
  </div>
</section>
