<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-2 ml-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)='logout()'>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class='content container mt-5'>
  <form *ngIf="profileFormGroup" [formGroup]="profileFormGroup" (submit)='onSubmit()'>
    <div class='form-group'>
      <label for='firstname'>First name</label>
      <input type="text" formControlName="firstname" class='form-control'>
    </div>
    <div class='form-group'>
      <label for='lastname'>Last name</label>
      <input type="text" formControlName="lastname" class='form-control'>
    </div>
    <div class='form-group'>
      <label for='username'>Username</label>
      <input type="text" formControlName="username" class='form-control'>
    </div>
    <div class='form-group'>
      <label for='email'>Email</label>
      <input type="text" formControlName="email" class='form-control'>
    </div>
    <div class='form-group'>
      <label for='mobile'>Mobile</label>
      <input type="text" formControlName="mobile" class='form-control'>
    </div>
    <div formGroupName="profileGrp">
      <div class='form-group'>
        <label for='designation'>Designation</label>
        <input type="text" formControlName="designation" class='form-control'>
      </div>
      <div class='form-group'>
        <label for='experience'>Experience</label>
        <input type="text" formControlName="experience" class='form-control'>
      </div>
      <div class='form-group'>
        <label for='location'>Location</label>
        <input type="text" formControlName="location" class='form-control'>
      </div>

      <div formArrayName="skills">
        <div *ngFor="let skillGroup of skills.controls; index as i">
          <div formGroupName="{{i}}">
            <div class='form-group'>
              <label for='skillname'>Skill Name</label>
              <input type="text" formControlName="skillName" class='form-control'>
            </div>
            <div class='form-group'>
              <label for='version'>Version</label>
              <input type="text" formControlName="version" class='form-control'>
            </div>
            <div class='form-group'>
              <label for='skillExperience'>Experience in skill</label>
              <input type="text" formControlName="skillExperience" class='form-control'>
            </div>
            <div class='form-group'>
              <label for='skillKnowledge'>Knowledge level in skill</label>
              <input type="text" formControlName="knowledgeLevel" class='form-control'>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type='button' class='btn btn-primary mb-5' (click)='addSkill()'>Add Skill</button>
      </div>
    </div>
    <input type='submit' class='btn btn-warning btn-block' value='Submit'>
  </form>
</section>
